.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 30px;
  background-color: #0f172a;
  color: white;
}

.logo {
  cursor: pointer;
  font-weight: 700;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-links a {
  color: #e5e7eb;
  text-decoration: none;
  font-size: 14px;
}

.nav-links a:hover {
  color: #38bdf8;
}

.logout-btn,
.login-btn {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.login-btn {
  background: #22c55e;
}

.logout-btn:hover {
  background: #dc2626;
}
